## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = {'國家':['Japan','Taiwan','USA'],'人口':[12.68,2.358,32.57]}
data_frame = pd.DataFrame(data)
data_frame['國家'].max()

,國家,人口
0,Japan,12.680
1,Taiwan,2.358
2,USA,32.570